body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 24px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 20px;
    padding-bottom: 80px;
}

.project {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    display: block;
}

.project h2 {
    font-size: 1.25em;
    margin: 16px;
}

.project p {
    padding: 0 16px 16px;
    color: #555;
    font-size: 0.9em;
    height: 60px; /* Limiting the height of description */
    overflow: hidden;
    text-overflow: ellipsis;
}

.project a {
    display: block;
    text-align: center;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 0 0 8px 8px;
    transition: background-color 0.2s;
}

.project a:hover {
    background-color: #0056b3;
}
